<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>998758977041-c1empor39gduvjnap3bvo4t3m07hclgg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.998758977041-c1empor39gduvjnap3bvo4t3m07hclgg</string>
	<key>API_KEY</key>
	<string>AIzaSyDMjvKeeAse_sB7SC7H0bs1Izg6ZmS_sC8</string>
	<key>GCM_SENDER_ID</key>
	<string>998758977041</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterapptennisyoshi0713</string>
	<key>PROJECT_ID</key>
	<string>flutter-chatsample-4b835</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-chatsample-4b835.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:998758977041:ios:21241f9d728ab2541f6bb0</string>
</dict>
</plist>